.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .top {
    display: block;
  }
}

.top .left {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  background-image: url(../images/desktop-image-hero-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  .top .left {
    height: 400px;
  }
}

.top .left .desktop {
  color: white;
  font-weight: 600;
  padding-top: 3rem;
  padding-left: 3rem;
}

@media (max-width: 1000px) {
  .top .left .desktop {
    display: none;
  }
}

.top .left .desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .left .desktop ul li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

.top .left .desktop ul li:nth-child(1) {
  margin-right: 2rem;
  font-size: 1.5rem;
}

.top .left .desktop ul li:not(:first-child):hover::after {
  content: "";
  height: 0.1rem;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  bottom: -0.5rem;
  right: 0;
  position: absolute;
}

.top .left .mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 2rem;
  position: relative;
}

@media (min-width: 1000px) {
  .top .left .mobile {
    display: none;
  }
}

.top .left .mobile img {
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.top .left .mobile p {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 45%;
}

.top .left .mobile ul {
  display: none;
}

.top .left .mobile ul li {
  list-style: none;
  cursor: pointer;
  color: black;
}

.top .left .mobile ul li:not(:last-child) {
  margin-right: 1rem;
}

.top .right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 6rem 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 1000px) {
  .top .right {
    padding: 4rem 5vw;
  }
}

.top .right h1 {
  font-size: 2.5rem;
}

.top .right p {
  margin-top: 2rem;
  line-height: 2;
  color: #a1a1a1;
}

.top .right .btn {
  margin-top: 2rem;
  letter-spacing: 0.7rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.top .right .btn:hover {
  opacity: 0.3;
}

.top .right .btn span {
  margin-right: 1rem;
  font-size: 1rem;
}

.top .right .controls {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .top .right .controls {
    top: -4rem;
    right: 0;
    left: auto;
  }
}

.top .right .controls .control {
  background-color: #000;
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.top .right .controls .control:hover {
  background-color: #454545;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .bottom {
    display: block;
  }
}

.bottom .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.bottom .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom .info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-negative: 5;
      flex-shrink: 5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 3rem;
}

@media (max-width: 1000px) {
  .bottom .info {
    padding: 4rem 5vw;
  }
}

.bottom .info h1 {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.bottom .info p {
  margin-top: 1rem;
  color: #a1a1a1;
  line-height: 1.5;
  font-size: 0.7rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 12px;
  font-family: Spartan;
}
/*# sourceMappingURL=style.css.map */